{% extends "layout.html" %}
{% block title %}
<title>{{passing_params['blog_Name']}}</title>
{% endblock %}


{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/img/2.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{passing_params['blog_Name']}}</h1>
                    <span class="subheading">{{passing_params['head_line']}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            {% for item in passingposts %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="/post/{{item.post_slug}}">
                    <h2 class="post-title">{{item.post_title}}</h2>
                    <h3 class="post-subtitle">{{item.post_desc}}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="{{passing_params['your_linkdin']}}"
                        target="_blank">{{passing_params['yourname']}}</a>
                    {{item.date}}
                </p>
            </div>
            {{item.content[0:200] | safe}}...........
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}





            <!-- Pager-->
            <div class="d-flex justify-content-between mb-4">
                <a class="btn btn-primary text-uppercase" href="{{previous}}">
                    ← Previous
                </a>
                <a class="btn btn-primary text-uppercase" href="{{Next}}">
                    Next →
                </a>
            </div>
            
</div>
    </div>
</div>
{% endblock %}